<div class="topnav menu-divider">
    <a class="topnav-link active" [routerLink]="['/mentor/dashboard','Not Started']">{{ auth.name | uppercase}} |
        {{ auth.email }}</a>
    <a class="topnav-link" [routerLink]="['/mentor/dashboard','In progress']">Current Trainings</a>
    <a class="topnav-link" [routerLink]="['/mentor/dashboard','Completed']">Completed Trainings</a>
    <a class="topnav-link" [routerLink]="['/mentor/dashboard','Not Started']">Students Proposals</a>
    <!-- <a class="topnav-link" [routerLink]="['/mentor/dashboard','Submitted']">Students Proposals</a> -->
</div>