<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" style="margin-left: auto !important" [routerLink]="['/']">
    <img src="../../assets/logo/mod-logo.png" width="60" height="60" class="d-inline-block" alt="logo">
  </a>
  <div style="width:40%;border-radius: 45%;">
    <div class="input-icons">
      <i class="fa fa-search icon pull-right" (click)="search(text.value)"></i>
      <input class="form-control input-field" type="text" placeholder="Search Mentor OR Technology..." #text
        (keyup.enter)="search(text.value)" (keyup)="searchEmpty(text.value)">
    </div>
  </div>
  <a class="nav-item  menu_btn" (click)="display = true" *ngIf="isLoggedIn">
    <i class="fa fa-user" aria-hidden="true" style="margin:5px;"></i>
  </a>
  <p-sidebar [(visible)]="display" styleClass="ui-sidebar-sm" position="right">
    <ul class="list-group mt-3">
      <li class="list-group-item">
        <div style="text-align: center;">
          <a [routerLink]="['mentor/profile']">
            <i class="fa fa-user" aria-hidden="true" style="margin:5px;"></i>
          </a>
        </div>
        <div style="text-align: center;">
          <strong> auth.name | {{auth.email}}</strong>
        </div>
      </li>
      <!-- <li class="list-group-item"> <a [routerLink]="['mentor/profile']">My trainings</a></li>
      <li class="list-group-item"> <a [routerLink]="['mentor/profile']">My cart</a>
      </li>
      <li class="list-group-item"> <a [routerLink]="['mentor/profile']">Notifications</a></li>
      <li class="list-group-item"> <a [routerLink]="['mentor/profile']">Account settings</a></li>
      <li class="list-group-item"> <a [routerLink]="['mentor/profile']">Payment methods</a></li>
      <li class="list-group-item"><a [routerLink]="['mentor/profile']">Purchase history</a>
      </li>
      <li class="list-group-item"> <a [routerLink]="['mentor/profile']">Edit profile</a> </li>
      <li class="list-group-item"> <a [routerLink]="['mentor/public-profile']">Public profile</a>
      </li>
      <li class="list-group-item"> <a [routerLink]="['mentor/profile']">Help</a></li> -->
      <li class="list-group-item"> <a (click)="doLogout()">Logout</a></li>
    </ul>
  </p-sidebar>
  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <ng-container *ngIf="isLoggedIn && auth.role !='admin'">
        <li class="nav-item" style="text-align: center;">
          <a class="nav-link" [routerLink]="['/'+ auth.role+'/dashboard','Started']">Current Trainings</a>
        </li>
        <li class="nav-item" style="text-align: center;">
          <a class="nav-link" [routerLink]="['/'+ auth.role+'/dashboard','Completed']">Completed Trainings</a>
        </li>
        <li class="nav-item" style="text-align: center;">
          <a class="nav-link" [routerLink]="['/'+ auth.role+'/dashboard','Not Started']">Pending Proposals</a>
        </li>
        <li class="nav-item" style="text-align: center;">
          <a class="nav-link" [routerLink]="['/'+ auth.role+'/dashboard','Cancelled']">Cancelled Proposals</a>
        </li>
        <!-- <li class="nav-item" style="text-align: center;">
          <div class="dropdown nav-link">
            <button class="dropbtn">Payments</button>
            <div class="dropdown-content sub-content">
              <a href="#">View History</a>
              <a href="#">Withdraw</a>
            </div>
          </div>
        </li> -->
      </ng-container>
      <ng-container *ngIf="isLoggedIn && auth.role =='admin'">
        <li class="nav-item" style="text-align: center;">
          <a class="nav-link" [routerLink]="['admin/manage-users']">Trainees</a>
        </li>
        <li class="nav-item" style="text-align: center;">
          <a class="nav-link" [routerLink]="['admin/manage-trainers']">Mentors</a>
        </li>
        <li class="nav-item" style="text-align: center;">
          <a class="nav-link" [routerLink]="['admin/technology']">Technologies</a>
        </li>
        <li class="nav-item" style="text-align: center;">
          <a class="nav-link" [routerLink]="['admin/proposals']">Proposals</a>
        </li>
        <!-- <li class="nav-item" style="text-align: center;">
          <a class="nav-link" [routerLink]="['admin/coming-soon']">Feedback</a>
        </li> -->
        <!-- <li class="nav-item" style="text-align: center;">
          <div class="dropdown nav-link">
            <button class="dropbtn">Payments</button>
            <div class="dropdown-content sub-content">
              <a [routerLink]="['admin/coming-soon']">View History</a>
              <a [routerLink]="['admin/coming-soon']">Withdraw</a>
            </div>
          </div>
        </li> -->
      </ng-container>
      <!-- <li class="nav-item" *ngIf="isLoggedIn && auth.role !='admin'" style="margin: auto;">
        <div class="dropdown">
          <a class="btn btn-outline-info login-btn not-badge-btn dropbtn"><i class="fas fa-shopping-bag"
              style="font-size: 20px;"></i></a>
          <div class="dropdown-content">
            <a [routerLink]="['mentor/profile']" class="text-center"><strong>Your card is empty.</strong></a>
            <a [routerLink]="['mentor/profile']"></a>
            <a [routerLink]="['mentor/profile']" style="text-align: center;"><span class="btn btn-outline-info"
                style="background-color: #17a2b8;color: #fff;">Keep shopping</span></a>
          </div>
        </div>
      </li> -->
      <li class="nav-item" *ngIf="isLoggedIn" style="margin: auto;">
        <div class="dropdown" style="float:left;">
          <a class="btn btn-outline-info login-btn not-badge-btn dropbtn"><i class="far fa-bell"
              style="font-size: 20px;"></i><span class="badge badge-pill badge-danger not-badge"
              style="font-size: 10px;">{{notification?.length ? notification.length : 0}}</span></a>
          <div class="dropdown-content">
            <a class="pull-left"><strong>Notifications</strong></a>
            <a *ngFor="let notify of notification">
              <span style="width: 20px !important;"><i class="far fa-dot-circle"></i> {{notify.description}}</span>
              <!-- <span style="width: 3px !important;"><i class="fa fa-pencil"></i></span> -->
            </a>
            <a *ngIf="!notification?.length" style="text-align: center;">No notifications.</a>
          </div>
        </div>
      </li>
      <li class="nav-item" *ngIf="!isLoggedIn">
        <a [routerLink]="['auth/login']" class="btn btn-outline-info login-btn">Log in</a>
      </li>
      <li class="nav-item" *ngIf="!isLoggedIn">
        <a [routerLink]="['auth/signup']" class="btn btn-outline-warning signup-btn">Sign up</a>
      </li>
      <li class="nav-item user-icon user-avatar" *ngIf="isLoggedIn">
        <div class="dropdown" style="float:left;">
          <button class="dropbtn">
            <!-- <i class="fa fa-user" aria-hidden="true" style="margin:5px;"></i> -->
            <span style="margin:3px;"><strong>{{titleCaseWord(auth.name)}}</strong></span>
          </button>
          <div class="dropdown-content">
            <div style="text-align: center;">
              <a [routerLink]="['mentor/profile']">
                <i class="fa fa-user" aria-hidden="true" style="margin:5px;"></i>
              </a>
            </div>
            <div style="text-align: center;">
              <strong> {{auth.name}}</strong>
            </div>
            <!-- <hr class="line-hr">
            <a [routerLink]="['admin/coming-soon']">My trainings</a>
            <hr class="line-hr">
            <a [routerLink]="['admin/coming-soon']">Notifications</a>
            <a [routerLink]="['admin/coming-soon']">Account settings</a> -->
            <!-- <a [routerLink]="['mentor/payment-methods']">Payment methods</a> -->
            <!-- <a [routerLink]="['admin/coming-soon']">Purchase history</a>
            <hr class="line-hr"> -->
            <!-- <a [routerLink]="['mentor/edit-profile']">Edit profile</a>
            <a [routerLink]="['mentor/public-profile']">Public profile</a> 
            -->
            <hr class="line-hr">
            <a (click)="doLogout()">Logout</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>