<div class="row" style="margin-top: 10px;">
    <div *ngIf="msgStatus.status" class="m-100"
        [ngClass]=" msgStatus.type ? 'lead alert alert-success': 'lead alert alert-danger'" role="alert">
        {{msgStatus.message}}
    </div>
    <div class="row" style="width: 100%;">
        <div class="col-sm-6" *ngFor="let course of courseList">
            <div class="card card-list">
                <span class="badge" [ngClass]="{'badge-success': course.proposalStatus == 'Started',
                'badge-warning': course.proposalStatus == 'Not Started', 
                'badge-info': course.proposalStatus == 'Completed',
                'badge-danger': course.proposalStatus == 'Cancelled'}" style="float: right;width: fit-content;">
                    {{course.proposalStatus}}</span>
                <div class="card-body">
                    <h5 class="card-title">{{course.technology | uppercase}}</h5>
                    <p class="card-text">{{course.description}}</p>
                    <hr class="line-hr" />
                    <p class="card-text"><span class=" badge badge-light">Student Comment :{{course.comments}}</span>
                    </p>
                    <p class="card-text"><span class=" badge badge-light">Proposal Amount: ₹
                            {{course.proposalAmount}}</span>
                    </p>
                    <p class="card-text lead"><span class=" badge badge-light">Student Name : {{course.username}}</span>
                    </p>
                    <p *ngIf="course.proposalStatus == 'Not Started'" class="card-text" style="float: right;"><span
                            class="btn btn-info" (click)="acceptProposal(course.id,'Started')">Accept </span>
                        &nbsp;<span class="btn btn-danger" (click)="acceptProposal(course.id,'Cancelled')">Reject</span>
                    </p>
                </div>
            </div>
        </div>

    </div>