<div class="topnav menu-divider">
    <a class="topnav-link active" [routerLink]="['/user/dashboard','Not Started']">{{ auth.name | uppercase}} |
        {{ auth.email }}</a>
    <a class="topnav-link" [routerLink]="['/user/dashboard','Started']">Current Trainings</a>
    <a class="topnav-link" [routerLink]="['/user/dashboard','Completed']">Completed Trainings</a>
    <a class="topnav-link" [routerLink]="['/user/dashboard', 'Not Started' ]">Pending Proposal</a>
    <a class="topnav-link" [routerLink]="['/user/dashboard', 'Cancelled' ]">Cancelled Proposal</a>

</div>