<div class="row">
  <div class="fixedButton" *ngIf="isLoggedIn" (click)="goToDashboard()">Dashboard</div>
  <div class="col-md-10 col-sm-12 offset-md-1">
    <div *ngIf="msgStatus.status" class="mt-5"
      [ngClass]=" msgStatus.type ? 'lead alert alert-success': 'lead alert alert-danger'" role="alert">
      {{msgStatus.message}}
    </div>
    <div class="row">
      <div class="col-sm-3" *ngFor="let course of courseList">
        <div class="card card-list">
          <span class="badge badge-warning" style="float: right;width: fit-content;">₹ {{course.fees}}</span>
          <div class="card-body">

            <h5 class="card-title">{{course.technology | uppercase}}</h5>
            <div class="card-title">
              <span class="blockquote-footer">By :<cite title="Source Title"> {{course.name}}</cite>
              </span>
            </div>
            <p class="card-text">{{course.description | newline}}</p>
            <a href="#" class="btn btn-primary" (click)="enroll(course)">Enroll</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <p-dialog header="Alert" [(visible)]="displayAlert" [transitionOptions]="'0ms'" [modal]="true" [baseZIndex]="10000"
    [draggable]="false" [resizable]="true">
    <div class="ui-helper-clearfix" style="height: auto; width:auto;">
      <label>Not logged in, please log in to continue</label>
    </div>
    <p-footer>
      <button type="button" class="btn btn-primary " (click)="login()">Continue</button>
    </p-footer>
  </p-dialog>